# Exercise 4.6 Combining and Merging Data

In [2]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [3]:
path=r'C:\Users\jecka\2023-09-11 Achievement 4 Python'

In [4]:
df_prods = pd.read_csv(r'C:\Users\jecka\2023-09-11 Achievement 4 Python\02 Data\Original Data\products.csv', index_col = False)

In [5]:
df_ords = pd.read_csv(r'C:\Users\jecka\2023-09-11 Achievement 4 Python\02 Data\Prepared Data\orders_wrangled.csv', index_col = False)

In [6]:
df_ords_prior = pd.read_csv(r'C:\Users\jecka\2023-09-11 Achievement 4 Python\02 Data\Prepared Data\orders_products_prior.csv', index_col = False)

In [7]:
# Check the output for Orders Product Prior
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [8]:
# Check Shape of Orders Product Prior
df_ords_prior.shape

(32434489, 4)

In [9]:
# Check Shape of Orders
df_ords.shape

(3421083, 7)

In [11]:
# Merge the two df
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [12]:
# Check row merge
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [13]:
# Double check with outer merge
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', how = 'outer', indicator = True)

In [14]:
# Recheck row merge
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only       206209
right_only           0
Name: count, dtype: int64

In [15]:
# Check the output
df_merged_large.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196.0,1.0,0.0,both
1,2539329,1,prior,1,2,8,NaN,14084.0,2.0,0.0,both
2,2539329,1,prior,1,2,8,NaN,12427.0,3.0,0.0,both
3,2539329,1,prior,1,2,8,NaN,26088.0,4.0,0.0,both
4,2539329,1,prior,1,2,8,NaN,26405.0,5.0,0.0,both

In [16]:
# Export data to pkl
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))