# Ex 4.6 Task Merging instacart data

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
path=r'C:\Users\jecka\2023-09-11 Achievement 4 Python'

In [3]:
df_ords_prods_combo = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

# Step 4
#### Checking the shape of the imported dataframe

In [4]:
df_ords_prods_combo.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196.0,1.0,0.0,both
1,2539329,1,prior,1,2,8,NaN,14084.0,2.0,0.0,both
2,2539329,1,prior,1,2,8,NaN,12427.0,3.0,0.0,both
3,2539329,1,prior,1,2,8,NaN,26088.0,4.0,0.0,both
4,2539329,1,prior,1,2,8,NaN,26405.0,5.0,0.0,both

In [5]:
df_ords_prods_combo.shape

(32640698, 11)

In [6]:
# Dropped _merge colummn as it causes an error when combining datasets later
df_ords_prods_combo = df_ords_prods_combo.drop(columns = ['_merge'])

## Step 5
#### Determine a suitable way to combine the orders_products_combined dataframe with your products data set.

In [7]:
# Import clean Products set
df_prods_checked = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'))

In [8]:
# Check Products output
df_prods_checked.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [9]:
# Check Products output
df_prods_checked.shape

(49672, 5)

In [10]:
# Merging both DF
df_ords_prods_merged = df_ords_prods_combo.merge(df_prods_checked, on = 'product_id', indicator = True)

# Step 6
#### Confirm the results of the merge using the merge flag.

In [11]:
df_ords_prods_merged.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,NaN,196.0,1.0,0.0,Soda,77,7,9.0,both
1,2398795,1,prior,2,3,7,15.0,196.0,1.0,1.0,Soda,77,7,9.0,both
2,473747,1,prior,3,3,12,21.0,196.0,1.0,1.0,Soda,77,7,9.0,both
3,2254736,1,prior,4,4,7,29.0,196.0,1.0,1.0,Soda,77,7,9.0,both
4,431534,1,prior,5,4,15,28.0,196.0,1.0,1.0,Soda,77,7,9.0,both

In [14]:
# Checking the shape of the merged df
df_ords_prods_merged.shape

(32404859, 15)

In [15]:
# Checking row merge
df_ords_prods_merged['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

# Step 7
#### Export df into a suitable format according to size

In [19]:
#Exporting to pkl due to size
df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))